<%content_for :title do%>
	Meus Pedidos
<%end%>


<%content_for :head do%>
	<%=stylesheet_link_tag "my_orders"%>
	
	<script>
	$(document).ready(function() {
		$(".tab_orders_content").hide();
	});
	
	function showclosed($idorder)
	{
		if($("#tab_orders_item_"+$idorder).hasClass("Item_gray"))
		{
		  $("#tab_orders_content_"+$idorder).slideDown('fast');
		  $("#tab_orders_item_"+$idorder).removeClass("Item_gray");
		  $("#tab_orders_item_"+$idorder).addClass("Item_orange");	  
		}
		else 
		{
			$("#tab_orders_content_"+$idorder).slideUp('fast');
			$("#tab_orders_item_"+$idorder).removeClass("Item_orange");
			$("#tab_orders_item_"+$idorder).addClass("Item_gray");					
		}
	}
	</script>
<%end%>

<div id="Box_content">


	<div id="Products">
		<h1 style=" vertical-align:middle; text-align:left;">Minha Conta : Meus Pedidos</h1>       
		<%@myorders.each do |order|%>
		<!-- item-start --> 		
		<div id="tab_orders">        
			<div id="tab_orders_item_<%= order.id %>" class="Item_gray tab_orders_item" onclick="showclosed(<%= order.id %>)">
				<table width="960" border="0">
					<tr>
						<td valign="top">
							<h2 class="Table_tit_sumary">Pedido N°: <%=order.id%></h2>
						</td>
						<td class="Table_tit_sumary"><h2 class="Table_tit" >
							&nbsp;</h2>
						</td>
						<td  class="Table_tit_sumary">
							<span class="Table_tit_sumary">Status:<%=traduz_tipo_do_pagamento(order.payment_type)%></span>
							<div id="Status"><%=traduz_status_do_pedido(order.status)%></div>
						</td>
					</tr>                 
				</table>
			</div>        
			<div id="tab_orders_content_<%= order.id %>" class="closed tab_orders_content">
				<div class="Title_info">            
					<table width="960" height="26">
						<tr>
							<td width="400"  class="Tit_text">
								<h2 class="Table_tit3">Data do Pedido: <%= I18n.localize(order.created_at, :format => "%d/%m/%Y")%></h2>
							</td>
							<td width="280"  class="Tit_text">
								<h2 class="Table_tit3"></h2>
							</td>
							<td width="280" class="Tit_text Cel_Cust">
								<h2 class="Table_tit3"><!-- Data do Entrega: 00/00/0000 - 00:00 --></h2>
							</td>
						</tr>             
					</table>
				</div>
				<div class="Title_table2">
					<table width="960">
						<tr>
							<td width="400">Produto</td>
							<td width="280">Valor Un.</td>
							<td width="280">Qntd.</td>
							<!--<td width="195">Presente</td> -->
						</tr>
					</table>
				</div>            
				<!-- PRODUTOS -->
				<%order.order_products.each do |produto|%>
				<div class="Content_table">
					<table width="960">
						<tr class="Bg_table_line">
							<td width="400" class="Tit_text_cont" ><%=produto.product.name%></td>
							<td width="280" class="Tit_text_cont"><b><%=number_to_currency(produto.price)%></b></td>
							<td width="280" class="Tit_text_cont"><%=produto.amount%></td>
							<!-- <td width="168">Sim</td> -->
						</tr>
					</table>
				</div>
				<%end%>
			</div>
		</div>  
		<%end%> 
	</div> 
</div>	                                                   
</div>	                                                   
<!--item-end-->

