<%=form_for @user do |f|%>
	<%= f.error_messages :header_message => raw("<span style='color:#fff;'>Verifique os erros antes de continuar</span>"), :message => "", :header_tag => "" %>
		<div id='form_linha'>
			<h2><%= f.label :nome, "Nome:" %></h2>
			<%=f.text_field :nome ,:class => "input_form big_input_form", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>
			
			<br><br>
			<h2 id="id_sexo"><%= f.label :sexo, "Sexo:"%></h2>
			<%= f.radio_button :sexo, :masculino, :class=>"input_form", :id=>"id_sexo", :style => "display:inline; vertical-align:middle;" %><h3 style="display:inline; vertical-align:middle;">Masculino</h3>
			<%= f.radio_button :sexo, :feminino, :class=>"input_form", :id=>"id_sexo", :style => "display:inline; vertical-align:middle;" %><h4 style="display:inline; vertical-align:middle;">Feminino</h4><br />
		</div>
		<div id='form_linha'>
			<h2 id="id_data"><%= f.label :nascimento, "Data de Nascimento:" %>
				<%= f.date_select :nascimento,{ :start_year => 1920},{ :class => "input_form"}%>
				
				<br><br>
				<h2><%= f.label :email, "E-Mail:" %></h2>
				<%=f.text_field :email, :class => "input_form big_input_form", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>
			</h2>
			<br />
		</div>
		<div id='form_linha'>
			<br><br>
			<h2><%= f.label :rg, "RG:" %></h2>
			<%=f.text_field :rg, :class => "input_form big_input_form", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>
			
			<br><br>
			<h2><%= f.label :cpf, "CPF ou CNPJ:" %></h2>
			<%=f.text_field :cpf, :class => "input_form big_input_form", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>
			<br />
		</div>
		<div id='form_linha'>
			<br><br>
			<h2><%= f.label :phone, "Telefone:" %></h2>
					<%=f.text_field :area_phone, :class => "input_form short_input_form" %>
					<%=f.text_field :phone, :class => "input_form small_input_form" %>
			
			<br><br>		
				<h2><%= f.label :cellphone, "Celular:"%></h2>
					<%=f.text_field :area_cellphone, :class => "input_form short_input_form" %>				
					<%=f.text_field :cellphone, :class => "input_form small_input_form" %>
			<br />
		</div>
		<div id='form_linha'>
			<br><br>
			<h2><%= f.label :address, "Endereço e Nº.:"%></h2>
			<%=f.text_field :address, :class => "input_form big_input_form", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>
			
			<%=f.text_field :number, :class => "input_form short_input_form", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>
		</div>
		<div id='form_linha'>
			<br><br>
			<h2><%= f.label :bairro, "Bairro:"%></h2>
			<%=f.text_field :quarter, :class => "input_form big_input_form",:value=>"Bairro:", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>	
			
			
			<br><br>
			<h2><%= f.label :complement, "Complemento:"%></h2>
			<%=f.text_field :complement, :class => "input_form big_input_form", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>
			<br />
		</div>
		<div id='form_linha'>
			<br><br>
			<h2><%= f.label :city, "Cidade:"%></h2>
			<%=f.text_field :city, :class => "input_form big_input_form", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>	
			
			<br><br>
			<h2><%= f.label :state, "Estado:"%></h2>
			<%= f.select(:state, [["AC", "AC"], ["AL","AL"], ["AP", "AP"],
			["AM", "AM"], ["BA", "BA"], ["CE", "CE"],
			["DF", "DF"], ["ES", "ES"], ["GO", "GO"],
			["MA", "MA"], ["MT", "MT"], ["MS", "MS"],
			["MG", "MG"], ["PA", "PA"], ["PB", "PB"],
			["PR", "PR"], ["PE", "PE"], ["PI", "PI"],
			["RJ", "RJ"], ["RN", "RN"], ["RS", "RS"],
			["RO", "RO"], ["RR", "RR"], ["SC", "SC"],
			["SP", "SP"], ["SE", "SE"], ["TO", "TO"]],{},{:class => "input_form"}) %>

			<br><br>
			<h2><%= f.label :cep, "CEP:"%></h2>
			<%=f.text_field :cep, :class => "input_form medium_input_form", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>	
			<br />
		</div>
		<div id='form_linha'>
			<br><br>
			<h2><%= f.label :password, "Sua Senha:" %></h2><br>
			<%=f.password_field :password, :class => "input_form small_input_form"%>	
			
			<br><br>
			<h2><%= f.label :password_confirmation, "Repita Senha:" %></h2>                  
			<%=f.password_field :password_confirmation, :class => "input_form small_input_form"%>
		<h2>&nbsp;</h2>
		<br />
		</div>
		<div id='form_linha'>
			<%=image_submit_tag "bt_finalizar_cadastro.png", :style=>"float:left;"%>
			<%if !current_user %>
			<input type="image" src="../images/bt_limpa_cadastro.png" onclick="document.theForm.reset();return false;" style="float:left;" />
			<%end%>	
		</div>
<%end%>













