<%content_for :title do%>
	Minha Conta :: Novo Cadastro
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "carrinho"%>
	<%=stylesheet_link_tag "cadastro"%>
<%end%>
<%content_for :breadcrumb do%>
	<div id='header-bread'>
      	<p><%=link_to "home", home_index_path%>/ <%=link_to "minha conta", accounts_path%> </p>
      	<h1>Meus Dados<b></b></h1>
      </div>
      <div id='header-title'>
      	<h1>Meus Dados</h1>
      </div>
<%end%>

<div id='form_cadastro'>
	<h1>Mantenha seu cadastro sempre atualizado, isto é importante para nossa comunicação!.</h1>
	<%=render :partial => "form"%>
</div>