<%content_for :title do%>
	<%=@categoria.name%>
<%end%>
	<div id="content-itens">
    	  <div id='content-left'>
        	<ul>
              <% addclass = false
                @subcategorias.each do |sub| %>
                <li <%=("class='item-b'") if addclass == true %>><%= link_to sub.name , subcategoria_path(sub.url_slug)%></li>
              <% addclass = !addclass
                 end%>
          </ul>
        </div>
        <div id='content-right'>
         	<div id='produtos-bloco'>

          <%  count = 0
              @subcategorias.each do |sub|
				      sub.products.all_published.each do |produto|
          %>
              <div class="produto" id='<%=count%>'>
              	<div class='prod-top'>
                  	<h3><%=produto.name%></h3>
                      <p><%=truncate(produto.summary, :length => 55)%></p>
                  </div>
                  <div class='prod-img'>
						          <%=link_to (image_tag(produto.product_images.first.image.url("medium")), produto_path(produto.url_slug)) if !produto.product_images.first.blank? %>
						
						          <%=link_to(image_tag("missing_thumb.jpg"), produto_path(produto.url_slug)) if produto.product_images.first.blank? %>
                  </div>
                  <div class="prod-fot" id="p-fot-<%=count%>">
                      <div class='prod-add'>
                        <%=link_to image_tag("bt_add_cart.jpg", :width=>"81", :height=>"43"), add_to_cart_produto_path(produto)%>
                      </div>
                      <%if produto.discount.blank?%>
                      <div class='prod-val'>
                      	<h2><b><%=number_to_currency(produto.price)%></b></h2>
                      </div>
                      <%else%>
                      <div class='prod-val'>
                      	<h2><b><%=number_to_currency(produto.price - produto.discount)%></b></h2>
                      </div>
                      <%end%>
                  </div>
                  <div class="hide prod-des" id="p-des-<%=count%>">
                  	<p><%=truncate(produto.summary, :length => 55)%></p>
                  </div>
              </div>
          <%  count = count + 1 
              end
            end
          %>
        </div>        
      </div>
    </div>
    <div class="clear"></div>	

