<%content_for :title do%>
	<%=@category.name%> :: <%=@produto.name%>	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "skin"%>
	<%=stylesheet_link_tag "skin-carousel"%>
	<%=javascript_include_tag "cycle.js" %>
	<%=javascript_include_tag "jcarousel.js"%>
<%end%>

	<%content_for :script do%>
		
	<%end%>
	
	<div id="content-itens">
    	<div id='content-left'>
        	<ul>
              <% addclass = false
                @subcategorias.each do |c| %>
                <li <%=("class='item-b'") if addclass == true %>><%= link_to c.name ,"#"%></li>
              <% addclass = !addclass
                 end%>
          </ul>
        </div>
        <div id='content-right'>
        	<div id='prod-table'>
           	  <table width="733" border="0" cellspacing="0" cellpadding="0" bgcolor="#e8e8e8">
                  <tr>
                    <td height="52" colspan="3" bgcolor="#00b4ff" valign="middle"><h1><%=@produto.name%></h1></td>
                  </tr>
                  <tr>
                    <td width="284" height="272" align="center" valign="middle" bgcolor="#FFFFFF">
				              <%if !@produto.product_images.first.blank?%>
					              <%@produto.product_images.all.each do |img|%>
						              <%=image_tag(img.image.url("medium"), :width => "270")%>
					              <%end%>
				              <%end%>
                    </td>
                    <td colspan="2" rowspan="3" bgcolor="#FFFFFF" bordercolor="#e8e8e8" style="padding:10px;" >
                    	<h6><%=@produto.name%></h6>
						          <p><%=raw(@produto.description)%><p>
                    </td>
                  </tr>
                  <%if @produto.discount.blank?%>
                    <tr>
                      <td style="background-image:url('../images/bg_prod1_int2.jpg;) " height="16"><%=number_to_currency(@produto.price)%></td>
                    </tr>
                  <%else%>
                    <tr>
                      <td style="background-image:url('../images/bg_prod1_int2.jpg;) " height="16"><%=number_to_currency(@produto.price)%></td>
                    </tr>
                    <tr>
                      <td style="background-image:url('../images/bg_prod2_int2.jpg;') " height="31"><%=number_to_currency(@produto.price - @produto.discount)%></td>
                    </tr>
                  <%end%>
                  <tr>                  
                    <td style="background:#e8e8e8;"></td>
						        <%if current_user%>
							        <td width="209"><%=link_to image_tag("bt_add_whish.jpg"), add_to_wishlist_produto_path(@produto)%></td>
						        <%else%>
                    <td width="209"><%=link_to image_tag("bt_add_whish.jpg"), "/user_sessions/new"%></td>
							        <!-- <a href="javascript:void(0);" onclick="alert('Para adicionar um produto a sua lista de desejos\n você deve estar logado!')">+ adicionar a lista de desejos</a> -->
						        <%end%>
                    <td width="240" align="right"><%=link_to image_tag("bt_add_cart_int.jpg"), add_to_cart_produto_path(@produto)%></td>
                  </tr>
                </table>
            </div>
          <div id='content-abas'>
            	<ul class="abas">
                    <li><a href="#noticia1">Descrição</a></li>
                    <li><a href="#noticia2">Características</a></li>
                    <li><a href="#noticia3">Modo de Uso</a></li>
                    <li><a href="#noticia4">Detalhes</a></li>
                </ul>
                <div id="noticia"></div>
                <div id="conteudo">
                <div id="noticia1">
                    <p><%=raw(@produto.description)%></p>
                </div>
                <div id="noticia2">
                    <p><%=raw(@produto.features)%></p>
                </div>
                <div id="noticia3">
                    <p><%=raw(@produto.usage)%></p>
                </div>
                <div id="noticia4">
                    <p><%=raw(@produto.bibliography)%>
                </div>
            </div>
        </div>        
    </div>
	</div>
    <div class="clear"></div>
    <div id='content-footer'>
		<div id='bloco-recomendamos'>
			<h5>Recomendamos</h5>
    		<ul id='produtos-bloco' class="mycarousel jcarousel-skin-tango">
            <li class="produto-um produto">
            	<div id='prod-top'>
                	<h3>Lorem ipsum</h3>
                    <p>dolor sit amet, aliquam nunce</p>
                </div>
                <div id='prod-img'>
                	<img src="images/img_cel.png" border='0' width="194" height="198" />
                </div>
                <div id='prod-fot' class="p-fot-um">
                    <div id='prod-add'>
						<a href="#"><img src="images/bt_add_cart.jpg" border='0' width="81" height="43" /></a>
                    </div>
                    <div id='prod-val'>
                    	<h2><b>R$</b> 80,00</h2>
                    </div>
                </div>
                <div id='prod-des' class="hide p-des-um">
                	<p>Lorem ipsum dolor sit amet, lacus suspendisse porta neque mauris consequat magna, rhoncus nonummy</p>
                </div>
            </li>
            <li class="produto-dois produto">
            	<div id='prod-top'>
                	<h3>Lorem ipsum</h3>
                    <p>dolor sit amet, aliquam nunce</p>
                </div>
                <div id='prod-img'>
                	<img src="images/img_cel.png" border='0' width="194" height="198" />
                </div>
                <div id='prod-fot' class="p-fot-dois">
                    <div id='prod-add'>
						<a href="#"><img src="images/bt_add_cart.jpg" border='0' width="81" height="43" /></a>
                    </div>
                    <div id='prod-val'>
                    	<h2><b>R$</b> 80,00</h2>
                    </div>
                </div>
                <div id='prod-des' class="hide p-des-dois">
                	<p>Lorem ipsum dolor sit amet, lacus suspendisse porta neque mauris consequat magna, rhoncus nonummy</p>
                </div>
            </li>
            <li class="produto-tres produto">
            	<div id='prod-top'>
                	<h3>Lorem ipsum</h3>
                    <p>dolor sit amet, aliquam nunce</p>
                </div>
                <div id='prod-img'>
                	<img src="images/img_cel.png" border='0' width="194" height="198" />
                </div>
                <div id='prod-fot' class="p-fot-tres">
                    <div id='prod-add'>
						<a href="#"><img src="images/bt_add_cart.jpg" border='0' width="81" height="43" /></a>
                    </div>
                    <div id='prod-val'>
                    	<h2><b>R$</b> 80,00</h2>
                    </div>
                </div>
                <div id='prod-des' class="hide p-des-tres">
                	<p>Lorem ipsum dolor sit amet, lacus suspendisse porta neque mauris consequat magna, rhoncus nonummy</p>
                </div>
            </li>
            <li class="produto-quatro produto">
            	<div id='prod-top'>
                	<h3>Lorem ipsum</h3>
                    <p>dolor sit amet, aliquam nunce</p>
                </div>
                <div id='prod-img'>
                	<img src="images/img_cel.png" border='0' width="194" height="198" />
                </div>
                <div id='prod-fot' class="p-fot-quatro">
                    <div id='prod-add'>
						<a href="#"><img src="images/bt_add_cart.jpg" border='0' width="81" height="43" /></a>
                    </div>
                    <div id='prod-val'>
                    	<h2><b>R$</b> 80,00</h2>
                    </div>
                </div>
                <div id='prod-des' class="hide p-des-quatro">
                	<p>Lorem ipsum dolor sit amet, lacus suspendisse porta neque mauris consequat magna, rhoncus nonummy</p>
                </div>
            </li>
            <li class="produto-quatro produto">
            	<div id='prod-top'>
                	<h3>Lorem ipsum</h3>
                    <p>dolor sit amet, aliquam nunce</p>
                </div>
                <div id='prod-img'>
                	<img src="images/img_cel.png" border='0' width="194" height="198" />
                </div>
                <div id='prod-fot' class="p-fot-quatro">
                    <div id='prod-add'>
						<a href="#"><img src="images/bt_add_cart.jpg" border='0' width="81" height="43" /></a>
                    </div>
                    <div id='prod-val'>
                    	<h2><b>R$</b> 80,00</h2>
                    </div>
                </div>
                <div id='prod-des' class="hide p-des-quatro">
                	<p>Lorem ipsum dolor sit amet, lacus suspendisse porta neque mauris consequat magna, rhoncus nonummy</p>
                </div>
            </li>
            <li class="produto-quatro produto">
            	<div id='prod-top'>
                	<h3>Lorem ipsum</h3>
                    <p>dolor sit amet, aliquam nunce</p>
                </div>
                <div id='prod-img'>
                	<img src="images/img_cel.png" border='0' width="194" height="198" />
                </div>
                <div id='prod-fot' class="p-fot-quatro">
                    <div id='prod-add'>
						<a href="#"><img src="images/bt_add_cart.jpg" border='0' width="81" height="43" /></a>
                    </div>
                    <div id='prod-val'>
                    	<h2><b>R$</b> 80,00</h2>
                    </div>
                </div>
                <div id='prod-des' class="hide p-des-quatro">
                	<p>Lorem ipsum dolor sit amet, lacus suspendisse porta neque mauris consequat magna, rhoncus nonummy</p>
                </div>
            </li>
            <li class="produto-quatro produto">
            	<div id='prod-top'>
                	<h3>Lorem ipsum</h3>
                    <p>dolor sit amet, aliquam nunce</p>
                </div>
                <div id='prod-img'>
                	<img src="images/img_cel.png" border='0' width="194" height="198" />
                </div>
                <div id='prod-fot' class="p-fot-quatro">
                    <div id='prod-add'>
						<a href="#"><img src="images/bt_add_cart.jpg" border='0' width="81" height="43" /></a>
                    </div>
                    <div id='prod-val'>
                    	<h2><b>R$</b> 80,00</h2>
                    </div>
                </div>
                <div id='prod-des' class="hide p-des-quatro">
                	<p>Lorem ipsum dolor sit amet, lacus suspendisse porta neque mauris consequat magna, rhoncus nonummy</p>
                </div>
            </li>
            <li class="produto-quatro produto">
            	<div id='prod-top'>
                	<h3>Lorem ipsum</h3>
                    <p>dolor sit amet, aliquam nunce</p>
                </div>
                <div id='prod-img'>
                	<img src="images/img_cel.png" border='0' width="194" height="198" />
                </div>
                <div id='prod-fot' class="p-fot-quatro">
                    <div id='prod-add'>
						<a href="#"><img src="images/bt_add_cart.jpg" border='0' width="81" height="43" /></a>
                    </div>
                    <div id='prod-val'>
                    	<h2><b>R$</b> 80,00</h2>
                    </div>
                </div>
                <div id='prod-des' class="hide p-des-quatro">
                	<p>Lorem ipsum dolor sit amet, lacus suspendisse porta neque mauris consequat magna, rhoncus nonummy</p>
                </div>
            </li>
            </ul>
			</div>
            <div class="clear"></div>
    </div>
</div>



