<% title "Usuário #{@user.nome}" %>
<p>
  <strong>Cadastro Ativado?</strong>
  <%= print_active(@user.active) %>
</p>
<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>
<p>
  <strong>CPF:</strong>
  <%= @user.cpf %>
</p>
<p>
  <strong>RG:</strong>
  <%= @user.rg %>
</p>
<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Sexo:</strong>
  <%= @user.sexo %>
</p>
<p>
  <strong>Nascimento:</strong>
  <%= @user.nascimento.strftime("%d/%m/%Y") %>
</p>
<p>
  <strong>Telefone:</strong>
  (<%= @user.area_phone %>)<%= @user.phone %>
</p>
<p>
  <strong>Celular:</strong>
  (<%= @user.area_cellphone %>)<%= @user.cellphone %>
</p>
<p>
  <strong>Endereço:</strong>
  <%= @user.address %>, <%= @user.number %> - <%= @user.complement %>
</p>
<p>
  <strong>Bairro:</strong>
  <%= @user.quarter %>
</p>
<p>
  <strong>Cidade:</strong>
  <%= @user.city %>/<%= @user.state %>
</p>
<p>
  <strong>CEP:</strong>
  <%= @user.cep %>
</p>
<p>
  <%= link_to "Editar", edit_admin_user_path(@user) %> |
  <%= link_to "Ver todos", admin_users_path %>
</p>
