<% content_for :head do%>
<%=stylesheet_link_tag "search_results"%>	
<%end%>
<div id="Box_content">
<div id="Products">
          <h1 style=" vertical-align:middle; text-align:left;">Lista de Desejos</h1>
          <img src="images/img_line_box_order.png" width="702" height="2" style="margin-top:10px; margin-bottom:10px;" />  <br />
		  <br />
		  
	
			<%if !@wishlists.blank?%>
				<% count = 0 
				    @wishlists.each do |w|
				%>
				        <div class="produto" id='<%=count%>'>
						  <div class='prod-top'>
							 <h3><%=w.product.name%></h3>
						      <p><%=truncate(w.product.summary, :length => 55)%> <%=link_to "remover", remove_from_wishlist_produto_path(w.product)%></p>
						  </div>
						  <div class='prod-img'>
						  	<%=link_to (image_tag(w.product.product_images.first.image.url("medium")), produto_path(w.product.url_slug)) if !w.product.product_images.first.blank? %>			
							<%=link_to(image_tag("missing_thumb.jpg"), produto_path(w.product.url_slug)) if w.product.product_images.first.blank? %>
						  </div>
						  <div class="prod-fot" id="p-fot-<%=count%>">
						      <div class='prod-add'>
							<%=link_to image_tag("bt_add_cart.jpg", :width=>"81", :height=>"43"), add_to_cart_produto_path(w.product)%>
						      </div>
						      <%if w.product.discount.blank?%>
						      <div class='prod-val'>
							<h2><b>R$</b><%=number_to_currency(w.product.price)%></h2>
						      </div>
						      <%else%>
						      <div class='prod-val'>
							<h2><b>R$:</b><%=number_to_currency(w.product.price - w.product.discount , :unit=>"")%></h2>
						      </div>
						      <%end%>
						  </div>
						  <div class="hide prod-des" id="p-des-<%=count%>">
							<p><%=truncate(w.product.summary, :length => 55)%></p>
						  </div>
					   </div>
				<% count = count + 1 
				    end 
				%>
				<%else%>
				 <p> Sua lista de desejos está vazia.</p>
			<%end%>
     <%= will_paginate @wishlists if !@wishlists.blank? %>                                               
     <img src="images/img_line_box_order.png" width="702" height="2" style="margin-top:10px; margin-bottom:10px;" /> 
    </div>