			<%if current_user%>
      <!-- new USUARIO LOGADO -->
      <div id='itens-top-bar' >   
          <span class="Header_date"><%=data_atual_extenso%></span>  
		  <% if !User.find(current_user.id).has_role? :user%>
			<%= link_to "Administrar Site", admin_root_path%>
		  <% end%>
		  <%=link_to(image_tag("bt_top.png",:width=>"86" , :height=>"17", :class => "closed", :id=>"botao2"), servicos_path) %> 	
          <%=link_to(image_tag("bt_top_um.png",:width=>"121" , :height=>"17"), accounts_path, :class => "Bt_top_1" )%>
          <%=image_tag("bt_top_dois.png",:width=>"145" , :height=>"20", :class => "Bt_top_2 closed", :id=>"botao" ) %>
          <%=link_to(image_tag("bt_top_tres.png",:width=>"48" , :height=>"11"), logout_path, :class => "Bt_top_3" )%>
			<div id="Menu_Cart">
                <div id="Menu">
                  <ul>
                      <%if !@cart.blank?%>
				              <%for cart_item in @cart%>
					              <li class="Cart_item"><%=link_to cart_item.amount.to_s + "  " +cart_item.name + "(s)", produto_path(cart_item.url_slug)%></li>
				              <%end%>
                        <li class="Total_txt">Total :</li>
					              <li class="Total_val"><%=number_to_currency(@cart_total)%></li>
					              <li class="Btns_place"><%=link_to("Ir Para o carrinho",carrinhos_path, :class =>"Btn_cart")%><%=link_to("Finalizar Compra",carrinhos_path, :class =>"Btn_fnz_cmp")%></li>
				              <%else%>
						              <li>Não há itens no carrinho.</li>
				              <%end%>
                  </ul>
                </div>
            </div>
      </div>
			<%else%>



      <!-- new USUARIO deslogado -->
      <div id='itens-top-bar' style="height:45px !important;">   
          <span class="Header_date"><%=data_atual_extenso%></span>
		  <%=link_to(image_tag("bt_top.png",:width=>"86" , :height=>"17", :class => "Bt_top_0 closed", :id=>"botao2"), servicos_path) %>      	
          <%=image_tag("bt_top_dois.png",:width=>"145" , :height=>"20", :class => "Bt_top_2 closed", :id=>"botao" ) %>
          <%=link_to(image_tag("bt_logar.png",:width=>"48" , :height=>"11"), login_path, :class => "Bt_top_3_out" )%>
        	<div id="Menu_Cart">
                <div id="Menu">
                  <ul>
                      <%if !@cart.blank?%>
				              <%for cart_item in @cart%>
					              <li class="Cart_item"><%=link_to cart_item.amount.to_s + "  " +cart_item.name + "(s)", produto_path(cart_item.url_slug)%></li>
				              <%end%>
                        <li class="Total_txt">Total :</li>
					              <li class="Total_val"><%=number_to_currency(@cart_total)%></li>
					              <li class="Btns_place"><%=link_to("Ir Para o carrinho",carrinhos_path, :class =>"Btn_cart")%><%=link_to("Finalizar Compra",carrinhos_path, :class =>"Btn_fnz_cmp")%></li>
				              <%else%>
						              <li>Não há itens no carrinho.</li>
				              <%end%>
                  </ul>
                </div>
            </div>
      </div>

			<%end%>
			<!-- /USUARIO LOGADO -->
	
